# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Streamlit Secrets
# ==========================
.streamlit/secrets.toml

# ==========================
# Generated Vector Store
# ==========================
vectorstore/

# ==========================
# Temporary Files
# ==========================
temp.pdf

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db