# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Vector Database
data/vectorstore/

# Uploaded PDFs (optional)
data/uploads/

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db